
/*structure of the body*/
body {
  background-color: grey;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* resize images */
.slides img {
    width: 100%;
    height: 350px;
}

/*Hovering of button*/
.mdl-navigation__link:hover {
  background-color: red;
  transition: background-color 0.2s;
}

.centered-container {
  max-width: 1024;
  background-color: Yellow;
  margin: 0px auto;
  padding: auto 16px;

}
/*logo on the body*/
.image {
  text-align: center;
  background-color: white;
  color: white;
  font-size: 1.5rem;

}

/*part below the logo on the body*/
.image-text {
  text-align: center;
  background-color: yellow;
  color: red;
  font-size: 2.5rem;
}
/*The text below the part of logo on the body*/
.intro-text {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.single-service {
  text-align: center;
  margin-bottom: 32px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 28px;
  width:auto;
  height: auto;
  border-bottom: 5px solid red;
  border-top: 5px solid red;



}
/*for the text below the image*/
.single-service p {
  background-color: blue;
  border: 5px solid black;
  border-radius: 20px;
  color: white;
      padding: 2px 2px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;

        /*padding: 3px 30px;
  display: block;
 max-width:center;
 max-height:2000px;
 background-color: green;*/
}


/*for the images in the service section*/
.single-service img{
display: inline-block;
 max-width:275px;
 max-height:183px;
 width: auto;
 height: auto;
}

.services_section ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 15px;
  color: black;
  }

.single-service .services_section strong{
font-size: 16.9px;
}
/*for the text in the service section*/
.services_section ul li {
  padding: 0px 10px;
  border-radius: 10px;
  border-spacing: 10px;
  display: table-row center;
 background-color: Yellow;
 border: 2px solid white;
}

/*for quote*/
/*for button design*/

.btn {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}




/*For the screen resolution adjustment*/
@media screen and (min-width: 700px) {

  .single-service {
    width: 33.3%;
    float: left;
  }
}
